.fullWidth {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.pageHeader {
    background: #333;
    padding: 0;
}

body {
    margin: 0px
}

.marginBottom {
    margin-bottom: 1rem;
}

.topPadding {
    padding-top: 1rem;
}

.bottomPadding {
    padding-bottom: 1rem;
}

.noTopMargin,
.noTopMargin * {
    margin-top: 0px;
}

.noBottomMargin,
.noBottomMargin * {
    margin-bottom: 0px;
}

.paddingLeft {
    padding-left: 1rem;
}

.title {
    font-size: 2rem;
    font-weight: 700;
}

.whiteText {
    color: #ffffff;
}

body {
    background-color: #212121;
    color: #ffffff;
}

.hiddenOverflow {
    overflow-x: hidden;
}